/*Fondo*/
.gradient-custom {
  /* fallback for old browsers */
  background: #3f72af;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #112d4e, #3f72af);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #112d4e, #3f72af);
}

/*Navbar*/
nav {
  background-color: #3f72af;
  color: #f9f7f7;
}

.navbar-brand {
  color: #f9f7f7;
}

.nav-link {
  color: #f9f7f7;
}

/*Contenido*/
body {
  /* fallback for old browsers */
  background: #3f72af;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #112d4e, #3f72af);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #112d4e, #3f72af);
}

/*Tabla*/
.table {
  background-color: #eeeeee;
}

/*Contenedor*/
.container {
  background-color: #dbe2ef;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px auto;
  padding: 20px;
}

/*Form-control y Multiselect*/
.container .form-control,
.multiselect {
  align-self: center;
  border: 1px solid #112d4e;
  border-radius: 8px;
}
